<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/register.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="static/logo.png" alt="Skuter Center Logo">
            <h1>Skuter Center</h1>
        </div>
        <nav>
            <a href="/">Domov</a>
            <a href="#">O nas</a>
            <a href="#">Kontakt</a>
        </nav>
    </header>
    <section class="form-container">
        <h2>Ustvari račun</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="messages">
            {% for category, message in messages %}
            <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <form action="/register" method="POST" id="register-form">
            <label for="email">E-pošta:</label>
            <input type="email" id="email" name="email" placeholder="Vnesite svoj e-poštni naslov" required>

            <label for="name">Ime:</label>
            <input type="text" id="name" name="name" placeholder="Vnesite svoje ime" required>

            <label for="surname">Priimek:</label>
            <input type="text" id="surname" name="surname" placeholder="Vnesite svoj priimek" required>

            <label for="password">Geslo:</label>
            <input type="password" id="password" name="password" placeholder="Vnesite geslo" onkeyup="pswdmatch()" required>

            <div class="matchmsg">
                <p id="matchmsg"></p>
            </div>

            <label for="confirm_password">Potrdite geslo:</label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Ponovno vnesite geslo" onkeyup="pswdmatch()" required>

            <button type="submit" id="submit_button">Registriraj se</button>
        </form>

        <p>Že imate račun? <a href="/login">Prijavite se tukaj</a>.</p>
    </section>
    <script>
        function pswdmatch() {
            let paswd1 = document.getElementById("password").value;
            let paswd2 = document.getElementById("confirm_password").value;
            let submitbtn = document.getElementById("submit_button");
            let msg = document.getElementById("matchmsg");

            if (paswd1 === paswd2 && paswd1 !== "") {
                submitbtn.disabled = false
                msg.textContent = ""
            } else {
                submitbtn.disabled = true
                msg.textContent = "Gesli se ne ujemata!"
            }
        }
    </script>
</body>
</html>